:root {
	--color-white: #ffffff;
	--color-bg-color: #F6F5F3;
	--color-primary: #7c69a4;
	--color-dark-text: #4e3969;
	--color-black: #282529;
	--color-contrast: #fa961a;
	--color-icon-red: #ea5556;
	--color-icon-blue: #2871f0;
    --color-grey-text: #999999;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat,'Helvetica Neue',Helvetica,sans-serif;
}

hr{
    width: 100px;
    border-color: var(--color-contrast);
    color: var(--color-contrast);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

main {
    background-color: var(--color-bg-color);
    padding: 20px;
}

img{
    max-width: 100%;
}

.debug{
    border: 1px solid red;
}


/* Utilities */
.bg-white{
    background-color: var(--color-white);
}

.bg-primary{
    background-color: var(--color-primary);
}

.d-changing-title{
    display: none;
}

.d-changing-social{
    display: none;
}




/* Dimensions */
.margin-t30{
    margin-top: 30px;
}

.margin-b30{
    margin-bottom: 30px;
}

.margin-tb15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.padding-t30{
    padding-top: 30px;
}

.padding-t20{
    padding-top: 20px;
}

.padding-30{
    padding: 30px;
}

.padding-b30{
    padding-bottom: 30px;
}

.img-w-h{
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}


/* Text */
.text-white{
    color: var(--color-white);
}

.text-purple{
    color: var(--color-dark-text);
}

.text-grey{
    color: var(--color-grey-text);
}

.uppercase{
    text-transform: uppercase;
}

.text-small{
    font-size: 0.8rem;
}

.text-medium{
    font-size: 0.9rem;
}

.text-big{
    font-size: 2rem;
}

.text-height{
    line-height: 1.7;
}


/* Flex */
.d-flex{
    display: flex;
}

.col-row{
    flex-direction: column;
}

.j-center{
    justify-content: center;
}

.d-space-between{
    justify-content: space-between;
}

.d-changing-info{
    display: flex;
    flex-direction: column;
}


.a-center{
    align-items: center;
}


header, footer{
    min-height: 60px;
    padding: 20px;

}

main {
    background-color: var(--color-bg-color);
    padding: 20px;
}

header a{
    text-decoration: none;
}

h1{
    color: var(--color-contrast);
    text-shadow: 1px 1px 1px var(--color-contrast);
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Nerko One', cursive;
}

#video{
    width: 100%;
    aspect-ratio: 16/9;
}

.ads{
    display: none;
}

/* Social */
.social-btn{
    background-color: var(--color-white);
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 1.5em;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}



/* Media Queries */

@media screen and (min-width: 576px) {

    .social-btn{
        background-color: var(--color-white);
        padding: 10px 40px;
        border-radius: 20px;
        font-size: 1.5em;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .d-changing-info{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }
    
}

@media screen and (min-width: 768px) {
    
    main{
        padding: 40px;
    }
    
    header.j-space-between{
        justify-content: space-between;
    }

    .ads{
        display: block;
    }

    .d-changing-title{
        display: inline-block;
    }

    .presentation .image{
        width: 40%;
        float: left;
        margin: 0 10px 0 0;
    }

    .presentation .clearfix{
        margin-top: 40px;
    }

    .presentation .clearfix::after{
        content: '';
        clear: both;
        display: table;
    }

    

}

@media screen and (min-width: 992px) {
    .j-space-between{
        justify-content: space-between;
    }

    .d-changing-social{
        display: inline-block;
    }

    .social-btn{
        background-color: var(--color-white);
        padding: 10px 50px;
        border-radius: 20px;
        font-size: 1.5em;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .d-changing-info{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }

    #video{
        width: 60%;
        height: auto;
        aspect-ratio: 16/9;

    }

    #ingredients{}

}
